<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swiper</title>

    <link rel="stylesheet" href="../../sass/main.css" />

    <!-- Google -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <script defer src="../../common/functions/index.js"></script>

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

</head>
<body>

  <section class="Section_Swip">
    <div class="container">
      <div class="Tab-Content">
        <div class="Section-Content">

          <div class="swiper">
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
        
                <div id="Owl_Item">
                    <div class="Single-Product">
                      <div class="Product-Img">
                        <img src="../../assets/images/HD_TV.webp" />
                      </div>
                      <div class="Product-Content">
                        <h4 id="popup_cart_title">Amazing Product Title</h4>
                        <div id="product-rating"></div>
                        <p>
                          <span id="price">
                            <span id="money">$100.00</span>
                          </span>
                        </p>
                        <div id="product-actions">
                          <div class="Primary-Actions">
                            <button class="Add-To-Cart">Add To Cart</button>
                          </div>
                          <div class="Secondary-Actions">
                            <a id="add-to-wishlist">
                              <img src="../../assets/icons/WishIcon.svg" />
                            </a>
                            <a id="quickview">
                              <img src="../../assets/icons/Quickview.svg" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
        
              </div>
        
              <div class="swiper-slide">Slide 2</div>
        
              <div class="swiper-slide">Slide 3</div>
              
              ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
        const swiper = new Swiper('.swiper', {

          loop: true, 

          pagination: {
              el: '.swiper-pagination',
              clickable: true,
          },
      
          navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
      
          scrollbar: {
              el: '.swiper-scrollbar',
          },
        });
  </script>


</body>
</html>