* {
    box-sizing: border-box;
}

body {
    @include text-formatter(sans-serif, 14px, 400, 24px);
    color: #444;
}

.Row {
    display: flex;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
    gap: 30px;
}

.Col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    list-style: none;
}

main {
    display: block;

    .Product_Tab {

        .Product_Thumbnail {
            padding-top: 0px;
            padding-bottom: 50px;
            padding-top: 50px;

            .container {

                .Row {

                    .Col-Pic {
                        width: 41.66666667%;
    
                        #ProductPhoto {
    
                            img {
                                width: 100%;
                                border: 1px solid #ebebeb;
                            }
                        }
                    }
    
                    .Col-Details {
                        width: 58.33333333%;
    
                        form {
                            margin-bottom: 0;
    
                            input {
                                background: transparent;
                                transition: all .5s ease-out 0s;
                                padding: 8px 10px;
                                border-radius: 3px;
                                border: 2px solid #eceff8;
                                height: auto;
                                box-shadow: none;
                                padding-left: 10px;
                                font-size: 14px;
                                color: #626262;
                            }
    
                            .Thumbnail-Desc {
                                overflow: hidden;
    
                                #brand {
                                    overflow: hidden;
                                    margin: 0 0 8px;
    
                                    //span
                                }
    
                                h3 {
                                    @include text-formatter(sans-serif, 20px, 600, 120%);
                                    display: block;
                                    margin-bottom: 10px;
                                    text-transform: capitalize;
                                    color: var(--Background);
                                }

                                #price {
                                    margin-bottom: 10px;

                                    .Pro-Price {
                                        margin-bottom: 0;

                                        p {
                                            line-height: 20px;
                                            font-size: 14px;

                                            span {
                                                @include text-formatter(sans-serif, 22px, 600, 120%);
                                            }
                                        }
                                    }
                                }

                                #inventory {
                                    display: flex;
                                    flex-direction: row;
                                    margin-bottom: 10px;
                                }

                                #Option {

                                    #swatch {
                                        margin-bottom: 25px;
                                        text-transform: lowercase;
                                    }

                                    .Option-Title {
                                        @include text-formatter(sans-serif, 20px, 500, 120%);
                                        display: block;
                                        float: none;
                                        margin-bottom: 5px;
                                        margin-right: 0;
                                        padding-bottom: 0;
                                        position: relative;
                                        margin-top: 0;
                                    }

                                    .Swatch-Element {
                                        float: left;

                                        input {
                                            display: none;
                                        }

                                        label {
                                            background-color: gray;
                                            box-shadow: 1px 1px 3px #000!important;
                                            border: 1px solid transparent;
                                            position: relative;
                                            border-radius: 0;
                                            display: block;
                                            float: left;
                                            width: 22px;
                                            height: 22px;
                                            transition: all .3s ease 0s;
                                            margin: 0 10px 0 0;
                                            cursor: pointer;
                                            background-position: center center;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                        }
                                    }

                                    // #size {


                                    //     // .Size-Title {
                                    //     //     @include text-formatter(sans-serif, 20px, 500, 120%);
                                    //     //     display: block;
                                    //     //     float: none;
                                    //     //     margin-bottom: 5px;
                                    //     //     margin-right: 0;
                                    //     //     padding-bottom: 0;
                                    //     //     position: relative;
                                    //     //     margin-top: 0;
                                    //     // }

                                    //     // #Size-xl {
                                    //     //     float: left;
                                    //     //     margin-right: 20px;

                                    //     //     input {
                                    //     //         display: none;
                                    //     //     }
                                    //     // }

                                        
                                    //     // #Size-ml {
                                    //     //     float: left;
                                    //     //     margin-right: 20px;

                                    //     //     input {
                                    //     //         display: none;
                                    //     //     }
                                    //     // }

                                        
                                    //     // #Size-xs {
                                    //     //     float: left;

                                    //     //     input {
                                    //     //         display: none;
                                    //     //     }
                                    //     // }
                                    // }

                                    // #color {
                                    //     margin-bottom: 25px;
                                    //     text-transform: lowercase;
                                    // }

                                    // #material {
                                    //     margin-bottom: 25px;
                                    //     text-transform: lowercase;
                                        

                                    // }
                                }

                                .Product-Cart {

                                    .box-quantity {
                                        display: flex;
                                        align-items: center;
                                        margin-bottom: 20px;
                                        
                                        .Quantity-Button {
                                            border: 1px solid #dddddd;
                                            overflow: hidden;
                                            padding: 4px 0 4px 5px;
                                            width: 80px;
                                            margin-right: 5px;
                                            border-radius: 5px;

                                            #qtybtn {
                                                color: #666;
                                                cursor: pointer;
                                                float: left;
                                                font-size: 16px;
                                                font-weight: 600;
                                                height: 20px;
                                                line-height: 20px;
                                                position: relative;
                                                text-align: center;
                                                width: 20px;
                                            }

                                            #dec {
                                                margin-top: 2px;
                                            }

                                            #inc {
                                                margin-top: 2px;
                                            }

                                            input {
                                                background: transparent none repeat scroll 0 0;
                                                border: medium none;
                                                float: left;
                                                font-size: 16px;
                                                height: 25px;
                                                margin: 0;
                                                padding: 0;
                                                text-align: center;
                                                width: 25px;
                                                transition: all .5s ease-out 0s;
                                                box-shadow: none;
                                                border-radius: 3px;
                                            }
                                        }
                                    }
                                }

                                #product-detail {
                                    margin: 0 0 20px;

                                    p {
                                        @include text-formatter(sans-serif, 15px, 500, 20px);
                                    }
                                }

                                #sharing-is-caring {
                                    margin-bottom: 10px;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}