
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/Shopping/sass/main.css" />

    <!-- Google -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <!-- swipper -->

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- toaster -->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- internal -->
    <script defer src="~/Shopping/common/functions/navigation.js"></script>
    <script defer src="~/Shopping/common/functions/index.js"></script>

    @await RenderSectionAsync("addcss", required: false)

</head>
<body>
    <nav class="Navigation">
        <div class="container">
            <div class="SupportAndSettings">
                <span id="Support">
                    <p>
                        <img src="~/Shopping/assets/icons/SupportIcone.svg" style="width: 10px;" />
                        Support: 123 456 789
                    </p>
                </span>
                <div id="Settings" href="#">
                    <p>
                        <img src="~/Shopping/assets/icons/SettingsIcone.svg" style="width: 10px;" />
                        Settings
                    </p>
                    <div id="Settings-Bar">
                        <div id="MyAccount-Bar">
                            <p>My Account</p>
                        </div>
                        <div id="MyWishlist-Bar">
                            <p>My Wishlist</p>
                        </div>
                        <div id="SignIn-Bar">
                            <p>Sign In</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Page-LinksAndLogo">
                <img src="~/Shopping/assets/icons/BigBasketLogo.svg" />

                <a class="Bars_Link">
                    <img src="~/Shopping/assets/icons/BarsIcon_Grey.svg" />
                </a>

                <div style="display:none;" id="Links-Bar">

                    <div id="Home-Bar" class="Link-Bar">
                        <p>Home</p>
                    </div>

                    <div id="AboutUs-Bar" class="Link-Bar">
                        <p>About Us</p>
                    </div>

                    <div id="ContactUs-Bar" class="Link-Bar">
                        <p>Contact us</p>
                    </div>

                    <div id="Blog-Bar" class="Link-Bar">
                        <p>Blog</p>
                    </div>

                    <div id="Shop-Bar" class="Link-Bar">
                        <p>Shop</p>
                    </div>

                </div>

                <div class="Page-Links">
                    <a href="~/Shopping/pages/Home/index.html">Home</a>
                    <a href="~/Shopping/pages/About/index.html">About Us</a>
                    <a href="~/Shopping/pages/Contact/index.html">Contact Us</a>
                    <a href="~/Shopping/pages/Blog/index.html">Blog</a>
                    <a href="~/Shopping/pages/Shop/index.html">Shop</a>
                </div>

            </div>
        </div>

        <div class="SearchAndBasket">
            <button class="AllCategories">
                <p>ALL CATEGORIES</p>
                <img src="~/Shopping/assets/icons/BarsIcon.svg" />
            </button>

            <div class="Search">
                <input class="Search-Input" type="search"
                       placeholder="Search Your Likings" />
                <button class="Submit-Search">
                    <img src="~/Shopping/assets/icons/SearchIcon.svg" />
                </button>
            </div>

            <div id="LikeAndBasket">
                <a id="Liked">
                    <img src="~/Shopping/assets/icons/LoveIcon.svg" />
                </a>

                <a id="Basket" href="https://localhost:7297/Cart">
                    <img src="~/Shopping/assets/icons/BasketIcon.svg" />
                    <span style="text-align: center; vertical-align: middle;" id="ItemCount">
                        <p>0</p>
                    </span>
                </a>
            </div>

        </div>
        </div>

    </nav>

    @RenderBody()

    <footer class="Footer">
        <div class="container">
            <div class="FooterRow">
                <div class="Footer-ContactUs">
                    <h3>CONTACT US</h3>
                    <div id="Contact-Content">
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                        <div id="Payment-Methods">
                            <h4>Payment Methods:</h4>
                            <img src="~/Shopping/assets/images/PaymentMethods.jpg" />
                        </div>
                    </div>
                </div>

                <!-- Information -->

                <div class="Footer-Contents">
                    <h3>INFORMATION</h3>
                    <div id="Content-Links">
                        <a>Site Map</a>
                        <a>Specials</a>
                        <a>Jobs</a>
                        <a>Delivery Information</a>
                        <a>Privacy Policy</a>
                        <a>Order History</a>
                    </div>
                </div>

                <!-- My Account -->

                <div class="Footer-Contents">
                    <h3>MY ACCOUNT</h3>
                    <div id="Content-Links">
                        <a>My Account</a>
                        <a>Checkout</a>
                        <a>Login</a>
                        <a>Order Status</a>
                        <a>Site Map</a>
                        <a>Address</a>
                    </div>
                </div>

                <!-- Customer Service -->

                <div class="Footer-Contents">
                    <h3>CUSTOMER SERVICE</h3>
                    <div id="Content-Links">
                        <a>My Account</a>
                        <a>New</a>
                        <a>GiftCards</a>
                        <a>Return Policy</a>
                        <a>Your Orders</a>
                        <a>Subway</a>
                    </div>
                </div>

                <!-- Let Us Help You -->

                <div class="Footer-Contents">
                    <h3>LET US HELP YOU</h3>
                    <div id="Content-Links">
                        <a>Your Account</a>
                        <a>Your Orders</a>
                        <a>Shipping</a>
                        <a>Amazon Prime</a>
                        <a>Replacements</a>
                        <a>Manage</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="Footer-Line">
            </div>
        </div>

        <div class="Footer-Bottom">
            <div class="container">
                <div class="Footer-Bottom-Row">
                    <div id="Footer-Copyright">
                        <p>
                            Copyright © 2021 HasThemes | Built with BigOn by HasThemes | rebuild by CF-Mehemmed
                        </p>
                    </div>
                    <div id="Footer-SocialLinks">
                        <a href="#">
                            <img src="~/Shopping/assets/icons/FacebookLogo.svg" />
                        </a>
                        <a href="#">
                            <img src="~/Shopping/assets/icons/TwitterLogo.svg" />
                        </a>
                        <a href="#">
                            <img src="~/Shopping/assets/icons/LinkedinLogo.svg" />
                        </a>
                        <a href="#">
                            <img src="~/Shopping/assets/icons/InstagramLogo.svg" />
                        </a>
                        <a href="#">
                            <img src="~/Shopping/assets/icons/Pinterestlogo.svg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @await RenderSectionAsync("addjs", required: false)

</body>
</html>