.Section_Swip {
    @include Item-Placer(flex, center, center);
    padding-top: 30px;
    padding-bottom: 0px;
    width: 1170px;
    margin: auto;
    margin-top: 100px;

    .container {
        width: 1170px;
        display: flex;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        .Tab-Content {
            .Section-Content {
                display: block;
                height: auto;
        
                .swiper {
                    width: 100%;
                    height: 500px;
                    z-index: 9;
        
                    .swiper-wrapper {
                        position: relative;
                        overflow: hidden;
        
                        .swiper-slide {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            will-change: transform;
                            transition: all 0.5s ease-in-out;
                            font-size: 60px;
        
                            #Owl_Item {
                                display: flex;
                                width: 227.6px; //227.6px
                                border-right: 1px solid hsl(0, 0%, 93%);
                                padding: 16px 15px;
                                float: left;
                
                                .Single-Product {
                                    @include Item-Placer(flex,center,center);
                                    height: 289px;
                                    position: relative;
                                    background: #fff;
                                    transition: all 0.5s ease-in-out;
                                    flex-direction: column;
                                    cursor: pointer;
                                    will-change: transform;
                
                                    .Product-Img {
                                        img {
                                            width: 200px;
                                        }
                                    }
                
                                    .Product-Content {
                                        transition: all 0.3s ease-in-out;
                                        z-index: 19;
                
                                        .ComeFromBottomAnimation {
                                            animation-name: ComeFromBottom;
                                            animation-duration: 2s;
                                            animation-timing-function: ease-in-out;
                                            animation-fill-mode: forwards;
                                        }
                
                                        #popup_cart_title {
                                            @include text-formatter(sans-serif, 16px, 500, 120%);
                                            color: var(--Background-Dark);
                                        }
                
                                        #product-rating {
                                            display: flex;
                                        }
                                        
                                        p {
                                            display: flex;
                                            flex-direction: column;
                                            padding-top: 40px;
                                            padding-left: 30px;
                                            gap: 5px;
                                            color: var(--Font-Color);
                
                                            #price {
                                                @include text-formatter(sans-serif, 21px, 700, 120%);
                                            }
                
                                            #prev_price {
                                                color: #a4a4a4;
                                                @include text-formatter(sans-serif, 14px, 400, 120%);
                                            }
                                        }
                
                                        #product-actions {
                                            display: flex;
                                            flex-wrap: nowrap;
                                            transition: 0.3s ease-in-out;
                                            position: absolute;
                                            width: 100%;
                                            z-index: 25;
                
                                            .Primary-Actions {
                                                @include Item-Placer(flex, center, center);
                                                bottom: 1px;
                                                z-index: 30;
                                                left: -10px;
                                                position: absolute;
                                            }
                
                                            .Appear {
                                                opacity: 1 !important;
                                                visibility: visible !important;
                                                transition: opacity 0.6s ease !important; /* Transition opacity over 0.3 seconds with ease timing function */
                                            }
                
                                            .Secondary-Actions {
                                                @include Item-Placer(flex, center, center);
                                                visibility: hidden;
                                                bottom: 1px;
                                                right: -20px;
                                                position: absolute;
                                                z-index: 30;
                                                gap: 7px;
                
                                                #add-to-wishlist {
                                                    @include Item-Placer(flex,center,center);
                                                    background-color: var(--Background-Dark);
                                                    height: 32px;
                                                    width: 30px;
                                                    border-radius: 5px;
                                                    will-change: color;
                                                    transition: opacity 0.3s ease;
                                                    opacity: 0;
                
                                                    &:hover {
                                                        background-color: var(--Main-Blue);
                                                    }
                
                                                    img {
                                                        width: 15px;
                                                    }
                                                }
                
                                                #quickview {
                                                    @include Item-Placer(flex,center,center);
                                                    background-color: var(--Background-Dark);
                                                    height: 32px;
                                                    width: 30px;
                                                    border-radius: 5px;
                                                    will-change: color;
                                                    transition: opacity 0.3s ease;
                                                    opacity: 0;
                
                                                    &:hover {
                                                        background-color: var(--Main-Blue);
                                                    }
                
                                                    img {
                                                        width: 15px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


