* {
    box-sizing: border-box;
}

body {
    @include text-formatter(sans-serif, 14px, 400, 24px);
    color: #444;
}

main {
    display: block;

    .Latest-Blogs {
        @include Item-Placer(flex, center, center);
        padding-top: 30px;
        padding-bottom: 1400px;
        margin-left: 100px;
        width: 1170px;
        margin: auto;

        .Blog-Area {
            padding-top: 0px;
            padding-bottom: 50px;

            .container {
                width: 1170px;

                .Row {
                    display: flex;
                    margin-right: -15px;
                    margin-left: -15px;
                    flex-direction: column;
                    gap: 30px;

                    .Col-Header {
                        width: 100%;
                        position: relative;
                        min-height: 1px;
                        padding-right: 15px;
                        padding-left: 15px;
                        float: left;

                        .Section-Title {
                            padding-bottom: 100px;
                            text-align: center !important;

                            h3 {
                                @include text-formatter(sans-serif, 28px, 600, 120%);
                                display: block;
                                color: var(--Background-Dark);
                            }
                        }
                    }

                    .Col-Content {
                        width: 100%;
                        position: relative;
                        min-height: 1px;
                        float: left;

                        .Row {
                            display: none;
                            visibility: hidden;
                            transition: opacity 0.5s ease-in-out;
                            gap: 30px;
                            grid-template-columns: repeat(3, 1fr);
                            margin-right: -15px;
                            margin-left: -15px;

                            .Col-Blog {
                                float: left;
                                position: relative;
                                min-height: 1px;
                                padding-right: 15px;
                                padding-left: 15px;
                                height: 500px;

                                .Single-Blog {
                                    width: 300px;
                                    height: 497px;

                                    .Blog-Img {

                                        a {
                                            display: block;
                                            position: relative;
                                            background-color: transparent;
                                            text-decoration: none;
                                            transition: all 0.3s ease-in-out;

                                            img {
                                                margin-left: 30px;
                                                width: 100%;
                                            }
                                        }
                                    }

                                    .Blog-Content {
                                        background: #fff;

                                        #blog-content-upper {
                                            padding: 30px;

                                            h6 {
                                                @include text-formatter(sans-serif, 15px, 600, 22px);
                                                margin-bottom: 12px;
                                                white-space: nowrap;
                                                padding-bottom: 15px;
                                                display: inline-block;
                                                text-transform: uppercase;
                                                position: relative;
                                                will-change: color;
                                                transition: all 0.3s ease-in-out;

                                                &:hover {
                                                    color: var(--Main-Blue);
                                                }
                                            }

                                            p {
                                                width: 348px;
                                                letter-spacing: .025em;
                                                line-height: 24px;
                                                border-top: 1px solid #eaeaea;
                                                padding: 10px 0 0;
                                                @include text-formatter(sans-serif, 13px, 500, 24px);
                                            }
                                        }

                                        #blog-content-lower {
                                            display: flex;
                                            border-top: 1px solid #eaeaea;
                                            padding: 30px;
                                            padding-left: 30px;

                                            a {
                                                display: block;
                                                position: relative;
                                                background-color: transparent;
                                                text-decoration: none;
                                                will-change: color;
                                                white-space: nowrap;
                                                transition: all 0.3s ease-in-out;

                                                &:hover {
                                                    color: var(--Main-Blue);
                                                }
                                            }

                                            span {
                                                float: right;
                                                padding-left: 130px;
                                                white-space: nowrap;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .Active-Row {
                            display: grid !important;
                            visibility: visible !important;
                        }

                        .Change-Page {
                            padding: 10px 15px;
                            border: 1px solid #ebebeb;
                            border-radius: 3px;
                            margin-top: 30px;
                            transform: translateY(900px);
                            overflow: hidden;

                            .Change-Item {

                                .Shop-Pagination {
                                    text-align: center !important;

                                    #pagination {
                                        display: inline-block;
                                        border-radius: 4px;
                                        text-align: center;

                                        #list-inline {
                                            display: flex;
                                            margin-left: -5px;

                                            .List-Prev {
                                                background: transparent;
                                                cursor: pointer;
                                                width: 25px;
                                                height: 25px;
                                                padding-left: 7px;
                                                padding-top: 3px;
                                                border-radius: 5px;
                                                transition: 0.3s;
                                                will-change: color;
                    
                                                img {
                                                    width: 9px !important;
                                                }
                                            }

                                            li {
                                                display: inline-block;
                                                padding-right: 5px;
                                                padding-left: 5px;
                                                list-style: none;
                                                color: var(--Background);
                                                cursor: pointer;
                                            }

                                            .List-Next {
                                                background: transparent;
                                                cursor: pointer;
                                                width: 25px;
                                                height: 25px;
                                                padding-left: 7px;
                                                padding-top: 3px;
                                                border-radius: 5px;
                                                transition: 0.3s;
                                                will-change: color;
                    
                                                img {
                                                    width: 9px;
                                                }
                                            }

                                            .Active-List {
                                                color: var(--Main-Blue);
                                            }

                                            .Disable-Ancle {
                                                visibility: hidden !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}