<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>

    

</head>
<body>

    <main role="main">

        <section class="Checkout_Section">

            <div class="Billing-Area">
                <div class="Billing-Info">
                    <div class="Checkout-Main">
                        <div class="Checkout-Info">
                            <form method="post">

                                <div class="Checkout">

                                    <div class="Contact">
                                        <section class="Contact-Form">
                                            <h2>Contact</h2>
                                            <input type="text" placeholder="Email or phone number" />
                                        </section>
                                    </div>

                                    <div class="Delivery">
                                        <section class="Delivery-Form">
                                            <h2>Delivery</h2>
                                            <section class="ShippingAddressForm">
                                                <div id="Location">
                                                    <label for="Select0">Country/Region</label>
                                                    <select name="countryCode" id="Select0" required="" autocomplete="shipping country" class="_b6uH _1fragemw8 yA4Q8 vYo81 RGaKd" data-dashlane-rid="97867da38e2e8986" data-form-type="address,country" data-kwimpalastatus="dead"><option value="AF">Afghanistan</option><option value="AX">Åland Islands</option><option value="AL">Albania</option><option value="DZ">Algeria</option><option value="AD">Andorra</option><option value="AO">Angola</option><option value="AI">Anguilla</option><option value="AG">Antigua &amp; Barbuda</option><option value="AR">Argentina</option><option value="AM">Armenia</option><option value="AW">Aruba</option><option value="AC">Ascension Island</option><option value="AU">Australia</option><option value="AT">Austria</option><option value="AZ">Azerbaijan</option><option value="BS">Bahamas</option><option value="BH">Bahrain</option><option value="BD">Bangladesh</option><option value="BB">Barbados</option><option value="BY">Belarus</option><option value="BE">Belgium</option><option value="BZ">Belize</option><option value="BJ">Benin</option><option value="BM">Bermuda</option><option value="BT">Bhutan</option><option value="BO">Bolivia</option><option value="BA">Bosnia &amp; Herzegovina</option><option value="BW">Botswana</option><option value="BR">Brazil</option><option value="IO">British Indian Ocean Territory</option><option value="VG">British Virgin Islands</option><option value="BN">Brunei</option><option value="BG">Bulgaria</option><option value="BF">Burkina Faso</option><option value="BI">Burundi</option><option value="KH">Cambodia</option><option value="CM">Cameroon</option><option value="CA">Canada</option><option value="CV">Cape Verde</option><option value="BQ">Caribbean Netherlands</option><option value="KY">Cayman Islands</option><option value="CF">Central African Republic</option><option value="TD">Chad</option><option value="CL">Chile</option><option value="CN">China</option><option value="CX">Christmas Island</option><option value="CC">Cocos (Keeling) Islands</option><option value="CO">Colombia</option><option value="KM">Comoros</option><option value="CG">Congo - Brazzaville</option><option value="CD">Congo - Kinshasa</option><option value="CK">Cook Islands</option><option value="CR">Costa Rica</option><option value="HR">Croatia</option><option value="CW">Curaçao</option><option value="CY">Cyprus</option><option value="CZ">Czechia</option><option value="CI">Côte d’Ivoire</option><option value="DK">Denmark</option><option value="DJ">Djibouti</option><option value="DM">Dominica</option><option value="DO">Dominican Republic</option><option value="EC">Ecuador</option><option value="EG">Egypt</option><option value="SV">El Salvador</option><option value="GQ">Equatorial Guinea</option><option value="ER">Eritrea</option><option value="EE">Estonia</option><option value="SZ">Eswatini</option><option value="ET">Ethiopia</option><option value="FK">Falkland Islands</option><option value="FO">Faroe Islands</option><option value="FJ">Fiji</option><option value="FI">Finland</option><option value="FR">France</option><option value="GF">French Guiana</option><option value="PF">French Polynesia</option><option value="TF">French Southern Territories</option><option value="GA">Gabon</option><option value="GM">Gambia</option><option value="GE">Georgia</option><option value="DE">Germany</option><option value="GH">Ghana</option><option value="GI">Gibraltar</option><option value="GR">Greece</option><option value="GL">Greenland</option><option value="GD">Grenada</option><option value="GP">Guadeloupe</option><option value="GT">Guatemala</option><option value="GG">Guernsey</option><option value="GN">Guinea</option><option value="GW">Guinea-Bissau</option><option value="GY">Guyana</option><option value="HT">Haiti</option><option value="HN">Honduras</option><option value="HK">Hong Kong SAR</option><option value="HU">Hungary</option><option value="IS">Iceland</option><option value="IN">India</option><option value="ID">Indonesia</option><option value="IQ">Iraq</option><option value="IE">Ireland</option><option value="IM">Isle of Man</option><option value="IL">Israel</option><option value="IT">Italy</option><option value="JM">Jamaica</option><option value="JP">Japan</option><option value="JE">Jersey</option><option value="JO">Jordan</option><option value="KZ">Kazakhstan</option><option value="KE">Kenya</option><option value="KI">Kiribati</option><option value="XK">Kosovo</option><option value="KW">Kuwait</option><option value="KG">Kyrgyzstan</option><option value="LA">Laos</option><option value="LV">Latvia</option><option value="LB">Lebanon</option><option value="LS">Lesotho</option><option value="LR">Liberia</option><option value="LY">Libya</option><option value="LI">Liechtenstein</option><option value="LT">Lithuania</option><option value="LU">Luxembourg</option><option value="MO">Macao SAR</option><option value="MG">Madagascar</option><option value="MW">Malawi</option><option value="MY">Malaysia</option><option value="MV">Maldives</option><option value="ML">Mali</option><option value="MT">Malta</option><option value="MQ">Martinique</option><option value="MR">Mauritania</option><option value="MU">Mauritius</option><option value="YT">Mayotte</option><option value="MX">Mexico</option><option value="MD">Moldova</option><option value="MC">Monaco</option><option value="MN">Mongolia</option><option value="ME">Montenegro</option><option value="MS">Montserrat</option><option value="MA">Morocco</option><option value="MZ">Mozambique</option><option value="MM">Myanmar (Burma)</option><option value="NA">Namibia</option><option value="NR">Nauru</option><option value="NP">Nepal</option><option value="NL">Netherlands</option><option value="NC">New Caledonia</option><option value="NZ">New Zealand</option><option value="NI">Nicaragua</option><option value="NE">Niger</option><option value="NG">Nigeria</option><option value="NU">Niue</option><option value="NF">Norfolk Island</option><option value="MK">North Macedonia</option><option value="NO">Norway</option><option value="OM">Oman</option><option value="PK">Pakistan</option><option value="PS">Palestinian Territories</option><option value="PA">Panama</option><option value="PG">Papua New Guinea</option><option value="PY">Paraguay</option><option value="PE">Peru</option><option value="PH">Philippines</option><option value="PN">Pitcairn Islands</option><option value="PL">Poland</option><option value="PT">Portugal</option><option value="QA">Qatar</option><option value="RE">Réunion</option><option value="RO">Romania</option><option value="RU">Russia</option><option value="RW">Rwanda</option><option value="WS">Samoa</option><option value="SM">San Marino</option><option value="ST">São Tomé &amp; Príncipe</option><option value="SA">Saudi Arabia</option><option value="SN">Senegal</option><option value="RS">Serbia</option><option value="SC">Seychelles</option><option value="SL">Sierra Leone</option><option value="SG">Singapore</option><option value="SX">Sint Maarten</option><option value="SK">Slovakia</option><option value="SI">Slovenia</option><option value="SB">Solomon Islands</option><option value="SO">Somalia</option><option value="ZA">South Africa</option><option value="GS">South Georgia &amp; South Sandwich Islands</option><option value="KR">South Korea</option><option value="SS">South Sudan</option><option value="ES">Spain</option><option value="LK">Sri Lanka</option><option value="BL">St. Barthélemy</option><option value="SH">St. Helena</option><option value="KN">St. Kitts &amp; Nevis</option><option value="LC">St. Lucia</option><option value="MF">St. Martin</option><option value="PM">St. Pierre &amp; Miquelon</option><option value="VC">St. Vincent &amp; Grenadines</option><option value="SD">Sudan</option><option value="SR">Suriname</option><option value="SJ">Svalbard &amp; Jan Mayen</option><option value="SE">Sweden</option><option value="CH">Switzerland</option><option value="TW">Taiwan</option><option value="TJ">Tajikistan</option><option value="TZ">Tanzania</option><option value="TH">Thailand</option><option value="TL">Timor-Leste</option><option value="TG">Togo</option><option value="TK">Tokelau</option><option value="TO">Tonga</option><option value="TT">Trinidad &amp; Tobago</option><option value="TA">Tristan da Cunha</option><option value="TN">Tunisia</option><option value="TR">Türkiye</option><option value="TM">Turkmenistan</option><option value="TC">Turks &amp; Caicos Islands</option><option value="TV">Tuvalu</option><option value="UM">U.S. Outlying Islands</option><option value="UG">Uganda</option><option value="UA">Ukraine</option><option value="AE">United Arab Emirates</option><option value="GB">United Kingdom</option><option value="US">United States</option><option value="UY">Uruguay</option><option value="UZ">Uzbekistan</option><option value="VU">Vanuatu</option><option value="VA">Vatican City</option><option value="VE">Venezuela</option><option value="VN">Vietnam</option><option value="WF">Wallis &amp; Futuna</option><option value="EH">Western Sahara</option><option value="YE">Yemen</option><option value="ZM">Zambia</option><option value="ZW">Zimbabwe</option></select>
                                                </div>

                                                <div id="FullNameOfUser">
                                                    <input type="text" placeholder="First Name" />
                                                    <input type="text" placeholder="Last Name" />
                                                </div>

                                                <div id="Address">
                                                    <input type="text" placeholder="Address" />
                                                </div>

                                                <div id="Place">
                                                    <input type="text" placeholder="Apartment, suite, etc. (optional)" />
                                                </div>

                                                <div id="PostalCodeAndCity">
                                                    <input type="text" placeholder="Postal code (optional)" />
                                                    <input type="text" placeholder="City" />
                                                </div>

                                            </section>
                                        </section>
                                    </div>

                                    <div class="Shipping">
                                        <h3>Shipping method</h3>
                                        <div>
                                            <label>International Shipping</label>
                                            <span>$20.00</span>
                                        </div>
                                    </div>

                                    <div class="Payment">
                                        <h3>Payment</h3>
                                        <p>All transactions are secure and encrypted.</p>

                                        <div>
                                            <label>Cash on Delivery (COD)</label>
                                        </div>
                                    </div>

                                    <div class="Billing">
                                        <h3>Billing address</h3>

                                        <div>
                                            <label>Same as shipping address</label>
                                        </div>
                                    </div>

                                </div>

                                <button id="CompleteOrder" type="submit">Complete order</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Cart_Products">
                <aside>
                    <section>
                        <div>
                            <div role="table" class="Cart_Product" id="cart-items-container" style="display: flex; gap: 20px; flex-direction: column">

                                <div class="cube-loader" style="position: absolute; top: 25%; right: 20%;">
                                    <div class="cube-top"></div>
                                    <div class="cube-wrapper">
                                        <span style="--i:0" class="cube-span"></span>
                                        <span style="--i:1" class="cube-span"></span>
                                        <span style="--i:2" class="cube-span"></span>
                                        <span style="--i:3" class="cube-span"></span>
                                    </div>
                                </div>


                            </div>

                            <section class="Total_Price_Cart_Products">
                                <div role="table">
                                    <div role="row">
                                        <div role="rowheader">
                                            <h6>Subtotal</h6>
                                        </div>
                                        <div role="cell">
                                            <span>$0.00</span>
                                        </div>
                                    </div>

                                    <div role="row">
                                        <div role="rowheader">
                                            <h6>Shipping</h6>
                                        </div>
                                        <div role="cell">
                                            <span>$0.00</span>
                                        </div>
                                    </div>

                                    <div style="padding-top: 10px;" role="row">
                                        <div role="rowheader">
                                            <h4>Total</h4>
                                        </div>
                                        <div role="cell" id="Cart_TotalPrice">
                                            <span>$0.00</span>
                                        </div>
                                    </div>

                                </div>
                            </section>

                        </div>
                    </section>
                </aside>
            </div>

        </section>

    </main>

    @* loader *@

    <script>

        const loaderElement = document.querySelector(".cube-loader");

        function showLoader(show) {
            loaderElement.style.display = show ? "block" : "none";
        }

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            showLoader(true);

            const cartItems = JSON.parse(localStorage.getItem('cart')) || [];
            const container = document.getElementById('cart-items-container');
            const completeOrderButton = document.getElementById('CompleteOrder');
            const shippingCost = 20.00;
            let subtotal = 0;

            if (cartItems && cartItems.length > 0) {

                cartItems.forEach(item => {

                    subtotal += item.price * item.quantity; 

                    const productRow = document.createElement('div');
                    productRow.setAttribute('role', 'row');

                    productRow.innerHTML = `
                        <div role="cell">
                            <div class="Cart_Product_Img">
                                <div id="product-quantity">${item.quantity}</div>
                                <img src="${item.imageUrl}" alt="${item.title}" />
                            </div>
                        </div>
                        <div role="cell">
                            <div class="Cart_Product_Title_And_Material">
                                <div>
                                    <p style="width: 250px">${item.name}</p>
                                </div>
                            </div>
                        </div>
                        <div role="cell">
                            <div class="Cart_Product_Price">
                                <p style="font-size: 15px;" id="Pro_Price">$${item.price}</p>
                            </div>
                        </div>
                    `;

                    container.appendChild(productRow);
                });

                const total = subtotal + shippingCost;

                document.querySelector('.Total_Price_Cart_Products [role="row"]:nth-child(1) span').textContent = `$${subtotal.toFixed(2)}`;
                document.querySelector('.Total_Price_Cart_Products [role="row"]:nth-child(2) span').textContent = `$${shippingCost.toFixed(2)}`;
                document.querySelector('.Total_Price_Cart_Products [role="row"]:nth-child(3) #Cart_TotalPrice span').textContent = `$${total.toFixed(2)}`;

                completeOrderButton.addEventListener('click', function (e) {
                    e.preventDefault();

                    const emailInput = document.querySelector('.Contact-Form input[type="text"]');
                    const countrySelect = document.getElementById('Select0');
                    const firstNameInput = document.querySelector('#FullNameOfUser input[placeholder="First Name"]');
                    const lastNameInput = document.querySelector('#FullNameOfUser input[placeholder="Last Name"]');
                    const addressInput = document.querySelector('#Address input[placeholder="Address"]');
                    const cityInput = document.querySelector('#PostalCodeAndCity input[placeholder="City"]');

                    const errors = [];

                    if (!emailInput.value) {
                        errors.push('Email or phone number is required.');
                    }

                    if (countrySelect.value === "") {
                        errors.push('Country/Region is required.');
                    }

                    if (!firstNameInput.value) {
                        errors.push('First Name is required.');
                    }

                    if (!lastNameInput.value) {
                        errors.push('Last Name is required.');
                    }

                    if (!addressInput.value) {
                        errors.push('Address is required.');
                    }

                    if (!cityInput.value) {
                        errors.push('City is required.');
                    }

                    if (errors.length > 0) {
                        alert(errors.join('\n'));
                    } else {

                        localStorage.removeItem('itemCount');
                        localStorage.removeItem('cart');

                        Toastify({
                            text: "Order completed successfully. Redirecting to home page...",
                            duration: 1800,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "green",
                            stopOnFocus: true,
                        }).showToast();

                        setTimeout(function() {
                            window.location.href = 'https://localhost:7297';
                        }, 1800);
                    }
                });

            } else {

                completeOrderButton.addEventListener('click', function (e) {
                    e.preventDefault();

                    Toastify({
                        text: "Your cart is empty. Please add products to your cart before checking out.",
                        duration: 1800,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "red",
                        stopOnFocus: true,
                    }).showToast();
                });

                const emptyMessage = document.createElement('h1');
                emptyMessage.textContent = "Your Cart Is Currently Empty";
                container.append(emptyMessage);

                document.querySelector('.Total_Price_Cart_Products [role="row"]:nth-child(1) span').textContent = `$0.00`;
                document.querySelector('.Total_Price_Cart_Products [role="row"]:nth-child(2) span').textContent = `$0.00`;
                document.querySelector('.Total_Price_Cart_Products [role="row"]:nth-child(3) #Cart_TotalPrice span').textContent = `$0.00`;
            }

            showLoader(false);
        });

    </script>

</body>
</html>