<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>

    <script defer src="~/Shopping/Js/Not-Found/index.js"></script>

</head>
<body>

    <div class="Not-Found">
        <div class="Not-Found-Title">
            <h1>404</h1>
            <h2>OPPS! Page Not Found, No Sir!</h2>
            <p>
                Sorry but the page you are looking for does not exist,<br />
                have been removed, name changed or is temporarity unavailable.
            </p>
        </div>
        <button class="BackToHome"><p>back to home page</p></button>
    </div>

</body>
</html>
