<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed View</title>
    <link rel="stylesheet" href="../../sass/main.css" />

    <!-- Google -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <!-- internal -->
    <!-- <script defer src="./index.js"></script> -->
    <script defer src="../../common/functions/navigation.js"></script>
    <script defer src="../../common/functions/index.js"></script>
    
</head>
<body>
    <nav class="Navigation">
        <div class="container">
          <div class="SupportAndSettings">
            <span id="Support">
                <p>
                  <img src="../../assets/icons/SupportIcone.svg" style="width: 10px;"/>
                  Support: 123 456 789
                </p>
            </span>
            <div id="Settings" href="#" >
                <p>
                  <img src="../../assets/icons/SettingsIcone.svg" style="width: 10px;"/>
                  Settings
                </p>
                <div id="Settings-Bar">
                  <div id="MyAccount-Bar">
                     <p>My Account</p>
                  </div>
                  <div id="MyWishlist-Bar">
                   <p>My Wishlist</p>
                  </div>
                 <div id="SignIn-Bar">
                   <p>Sign In</p>
                </div>
               </div>
            </div>
          </div>
    
          <div class="Page-LinksAndLogo">
            <img src="../../assets/icons/BigBasketLogo.svg" />
    
            <a class="Bars_Link">
              <img src="../../assets/icons/BarsIcon_Grey.svg" />
            </a>
    
            <div id="Links-Bar">
    
              <div id="Home-Bar" class="Link-Bar">
                <p>Home</p>
              </div>
    
              <div id="AboutUs-Bar" class="Link-Bar">
                <p>About Us</p>
              </div>
    
              <div id="ContactUs-Bar" class="Link-Bar">
                <p>Contact us</p>
              </div>
    
              <div id="Blog-Bar" class="Link-Bar">
                  <p>Blog</p>
              </div>
    
              <div id="Shop-Bar" class="Link-Bar">
                <p>Shop</p>
              </div>
    
            </div>
    
            <div class="Page-Links">
              <a href="../../pages/Home/index.html">Home</a>
              <a href="../../pages/About/index.html">About Us</a>
              <a href="../../pages/Contact/index.html">Contact Us</a>
              <a href="../../pages/Blog/index.html">Blog</a>
              <a href="../../pages/Shop/index.html">Shop</a>
            </div>
            
          </div>
        </div>
    
        <div class="SearchAndBasket">
          <button class="AllCategories">
            <p>ALL CATEGORIES</p>
            <img src="../../assets/icons/BarsIcon.svg" />
          </button>
    
          <div class="Search">
            <input class="Search-Input" type="search"
            placeholder="Search Your Likings"
          />
          <button class="Submit-Search" >
            <img src="../../assets/icons/SearchIcon.svg" />
          </button>
          </div>
    
          <div id="LikeAndBasket">
            <a id="Liked">
              <img src="../../assets/icons/LoveIcon.svg" />
            </a>
    
            <a id="Basket">
              <img src="../../assets/icons/BasketIcon.svg" />
              <span id="ItemCount">
                <p>0</p>
              </span>
            </a>
          </div>
    
        </div>
      </div>
    
    </nav>

    <main role="main">
        <div class="Product_Tab">
            <div class="Product_Thumbnail">
                <div class="container">
                    <div class="Row">

                        <div class="Col Col-Pic">
                            <div id="ProductPhoto">
                                <img src="../../assets/images/Telescope.webp" />
                            </div>
                        </div>

                        <div class="Col Col-Details">
                            <form method="post" id="AddToCartForm">

                                <input type="hidden" name="form_type" value="product" />
                                <input type="hidden" name="utf8" value="✓" />

                                <div class="Thumbnail-Desc">

                                    <div id="brand">
                                        <span>otobi</span>
                                    </div>

                                    <h3 id="title">Title</h3>

                                    <div id="price">
                                        <div class="Pro-Price">
                                            <p>
                                                <span id="ProductPrice"></span>
                                            </p>
                                        </div>
                                    </div>

                                    <div id="inventory">
                                        <div class="Inventory-Title">Availability:</div>
                                        <div class="Variant-Inventory">Some left in stock</div>
                                    </div>

                                    <div id="Option">
                                        <div id="size">
                                            <div class="Size-Title">Size :</div>

                                            <div id="Size-xl">
                                                <input id="Swatch-xl" type="radio" name="option-0" value="xl" checked>
                                                <label for="Swatch-xl">xl</label>
                                            </div>
                                            
                                            <div id="Size-ml">
                                                <input id="Swatch-ml" type="radio" name="option-1" value="ml" checked>
                                                <label for="Swatch-ml">ml</label>
                                            </div>
                                            
                                            
                                            <div id="Size-xs">
                                                <input id="Swatch-xs" type="radio" name="option-2" value="xs" checked>
                                                <label for="Swatch-xs">xs</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <input type="hidden" name="product-id" value="" />
                                <input type="hidden" name="section-id" value="Product_Tab" />

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    
</body>

</html>