:root {
    --Main-Blue: #4380DB;
    --Heading-Black: #4C4C4C;
    --Font-Color: #444444;
    --Font-Color-2: #333333;
    --Background: #363F4D;
    --Background-Dark: #232f3e;
    --Background-Blue: #0162bd;
    --White: #ffffff;
    --Background-Logo: #37475a; 
  }