.Not-Found {
   display: grid;
   place-items: center;
   gap: 15px;

   .Not-Found-Title {
      display: grid;
      place-items: center;
      gap: 10px;
  
      h1 {
         color: var(--Main-Blue);
         margin: 0px, 0px, 30px;
         @include text-formatter(sans-serif, 150px, 800, 120%);
      }
    
      h2 {
         color: var(--Heading-Black);
         margin: 0px, 0px, 16px;
         @include text-formatter(sans-serif, 35px, 700, 120%);
      }
  
      p {
        margin: 0px, 0px, 30px;
        padding: 0px 130px;
        text-align: center;
        @include text-formatter(sans-serif, 24px, 400, 120%);
        color: var(--Heading-Black);
      }
    }
}


  