.Search {
    @include Flex-ItemsAndPosition(flex, center, row);
    width: 545px !important;
    gap: 20px;
    position: relative;
    background-color: var(--White);

    // @include for-size(laptop) {
    //   transform: translateX(0px) !important;
    // }

    // @include for-size(tablet) {
    //   width: 335px !important;
    //   transform: translateX(670px);
    // }
  
    input {
      @include Input(545px, 48px, 16px 20px 16px 40px, 12px);
      background-color: var(--BackGround);
      color: var(--BackGround);
      border-radius: 5px;
      border: 2px solid black;
      cursor: pointer;

      // @include for-size(laptop) {
      //   width: 545px !important;
      // }

      // @include for-size(tablet) {
      //   width: 335px;
      // }
    }
  
    img {
      cursor: pointer;
      margin-right: 20px;
    }
}

#customerEmail {
  @include Flex-ItemsAndPosition(flex, center, row);
  margin: auto;
  width: 400px;
  position: relative;
  background-color: var(--White);
  padding-bottom: 30px;

  input {
    @include Input(545px, 48px, 16px 20px 16px 20px, 12px);
    background-color: var(--BackGround);
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 0 6px #0003;
  }
}

#customerPassword {
  @include Flex-ItemsAndPosition(flex, center, row);
  margin: auto;
  width: 400px;
  position: relative;
  background-color: var(--White);

  input {
    @include Input(545px, 48px, 16px 20px 16px 20px, 12px);
    background-color: var(--BackGround);
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 0 6px #0003;
  }
}

#Email-Subscribe {
  @include Input(545px, 50px, 0px 130px 0px 20px, 12px);
  @include text-formatter(sans-serif, 16px, 500, 50px);
  box-shadow: none;
  text-transform: lowercase;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #fff;
  color: #666;
  box-shadow: 0 0 6px #0003;
}

.address-frame {
  @include Flex-ItemsAndPosition(flex, center, row);
  position: relative;
  margin-left: 15px;
  background-color: var(--White);

  input {
    @include Input(555px, 45px, 0px 15px, 12px);
    @include text-formatter(sans-serif, 16px, 500, 120%);
    background-color: #f5f5f5;
    color: #888;
    border-radius: 0px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 6px #0003;
    margin-bottom: 30px;
  }
}

.address-frame-subject {
  @include Flex-ItemsAndPosition(flex, center, row);
  margin: auto;
  position: relative;
  background-color: var(--White);

  input {
    @include for-size(tablet) {
      @include Input(720px, 45px, 0px 15px, 12px);
    }

    @include Input(1140px, 45px, 0px 15px, 12px);

    @include text-formatter(sans-serif, 16px, 500, 120%);
    background-color: #f5f5f5;
    color: #888;
    border-radius: 0px !important;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 6px #0003;
    margin-bottom: 30px;
    float: left;
  }
}
  
.address-frame-textarea {
  @include Flex-ItemsAndPosition(flex, start, row);
  position: relative;
  background-color: var(--White);

  input {
    @include Input(1140px, 220px, 15px, 12px);
    @include text-formatter(sans-serif, 16px, 500, 120%);
    background-color: #f5f5f5;
    padding-bottom: 150px;
    color: #888;
    border-radius: 0px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 6px #0003;
    margin-bottom: 30px;
    float: left;
  }
}

#Filter-Price {
  @include Input(70px, 45px, 10px 5px, 12px);
  @include text-formatter(sans-serif, 15px, 500, 120%);
  background-color: transparent;
  color: #626262;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  box-shadow: 0 0 6px #0003;
}