.Login-Section {
    display: block;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .container {

        .Login-Row {
            @include Item-Placer(flex,center,center);
            margin-right: -15px;
            margin-left: -15px;
    
            .CustomerLoginInfo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 1px solid whitesmoke;
                box-shadow: 0 0 6px #0003;
                width: 470px;
                margin-top: 100px;
                height: 330px;

                h2 {
                    @include text-formatter(sans-serif, 30px, 600, 120%);
                    color: var(--Font-Color);
                    padding-left: 35px;
                    margin-bottom: 20px;
                }
    
                #customer-login {
                    margin-bottom: 0px;
    
                    #Login-Form-Container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #ebebeb;
                        padding: 20px 30px;

    
                        // #Login-Form {
    
                        //     #Button-Box {
    
                        //     }
                        // }
                    }
                }

                .Button-Box {
                    display: flex;
                    flex-direction: column;

                    .login-toggle {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        padding: 20px 10px 0px 33px;
                        overflow: hidden;
                        margin-bottom:10px;

                        a {
                            @include text-formatter(sans-serif, 14px,400,40px );
                            text-decoration: none;
                            color: #333333;
                            transition: 0.3s;
                            will-change: transform;
                            outline: medium none;

                            &:hover {
                                transform: scale(1.03);
                                color: var(--Main-Blue);
                            }
                        }
                    }

                    .create-account-link {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        overflow: hidden;
                        padding-left: 33px;
                        margin-bottom:10px;

                        a {
                            @include text-formatter(sans-serif, 14px,400,40px );
                            text-decoration: none;
                            color: #333333;
                            transition: 0.3s;
                            will-change: transform;
                            outline: medium none;

                            &:hover {
                                transform: scale(1.03);
                                color: var(--Main-Blue);
                            }
                        }
                    }
                }
            }
        }
    }


}