* {
    box-sizing: border-box;
}

body {
    @include text-formatter(sans-serif, 14px, 400, 24px);
    color: #444;
}

.Row {
    display: flex;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
    gap: 30px;
}

.Col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    list-style: none;
}

main {
    display: block;
    margin-top: 100px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;

    .Cart_Section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        .Cart_Main_Area {
            padding-top: 0px;
            padding-bottom: 50px;

            .container {

                form {
                    margin-bottom: 0;

                    h2 {
                        @include text-formatter(sans-serif, 25px, 600, 120%);
                        margin-bottom: 15px;
                        padding-bottom: 0;
                        text-transform: capitalize;
                    }

                    .Row {

                        .Col {

                            .Table-Content {
                                margin-bottom: 50px;
                                min-height: .01%;
                                overflow-x: auto;

                                table {
                                    background: #fff none repeat scroll 0 0;
                                    border-color: #e5e5e5;
                                    border-radius: 0;
                                    border-style: solid;
                                    border-width: 1px 0 0 1px;
                                    text-align: center;
                                    width: 100%;
                                    height: auto;
                                    border-collapse: collapse;

                                    thead {

                                        tr {
                                            th {
                                                border-bottom: 1px solid #e5e5e5;
                                                border-right: 1px solid #e5e5e5;
                                                border-top: medium none;
                                                padding: 20px 10px;
                                                text-align: center;
                                                text-transform: capitalize;
                                                white-space: nowrap;
                                                font-weight: 500;
                                                margin-top: 15px;
                                            }
                                        }
                                    }

                                    tbody {
                                        height: auto;

                                        tr{

                                            td{
                                                text-align: center;
                                                width: 100px;
                                                border-top: medium none;
                                                padding: 20px 10px;
                                                font-size: 13px;
                                                vertical-align: middle;
                                                border-bottom: 1px solid #e5e5e5;
                                                border-right: 1px solid #e5e5e5;
                                                margin-top: 15px;
                                            }

                                            .Pro-Image {
                                                margin-top: 15px;
                                                text-align: center;

                                                a {
                                                    text-decoration: none;

                                                    img {
                                                        width: 100%;
                                                    }
                                                }
                                            }

                                            .Pro-Title {
                                                width: 270px;
                                            }

                                            .Pro-Price {
                                                width: 130px;

                                                #amount {
                                                    font-size: 15px;
                                                    font-weight: 500;
                                                    word-spacing: 25px;
                                                    padding: 5px 0;
                                                    color: gray;
                                                }
                                            }

                                            .Pro-Quantity {
                                                width: 180px;

                                                #quantity {
                                                    position: relative;

                                                    input {
                                                        background: transparent;
                                                        border: 1px solid #ddd;
                                                        width: 70px;
                                                        padding: 0;
                                                        text-align: center;
                                                        border-radius: 3px;
                                                        color: #6f6f6f;
                                                        font-size: 18px;
                                                        font-weight: 400;
                                                        height: 40px;
                                                        max-width: 100%;
                                                    }

                                                    span {
                                                        position: absolute;
                                                        left: 70px;
                                                        top: 20%;
                                                        transform: translateY(-50%);
                                                        cursor: pointer;
                                                        transform: scale(2);
                                                    }

                                                    .inc {
                                                        right: 13%;
                                                        cursor: pointer;
                                                    }

                                                    .dec {
                                                        left: 38%;
                                                        bottom: 5px;
                                                        transform: scale(2.5);
                                                        cursor: pointer;
                                                    }
                                                }
                                            }

                                            .Pro-Total {
                                                font-size: 14px;
                                                font-weight: 500;
                                                width: 120px;
                                            }

                                            .Pro-Remove {
                                                width: 150px;

                                                a {
                                                    text-decoration: none;

                                                    img {
                                                        width: 40px;
                                                        height: 40px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}