<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

</head>
<body>

    <main role="main">
        <div class="Contact-Section">
            <div class="Contact-Area">
                <div class="container">
                    <div class="Row">
                        <div class="Column">
                            <h3>Contact Us</h3>
                            <p>we will probably not care but contact us</p>
                            <form id="contact_form" method="post" accept-charset="UTF-8" form-type="contact">
                                <div class="Address-Wrapper">

                                    <div id= class="Col">
                                        <div class="address-frame" id="contact-name">
                                            <input id="contact-Input-Name" type="text" placeholder="Name" />
                                        </div>
                                    </div>

                                    <div class="Col">
                                        <div class="address-frame" id="contact-email">
                                            <input id="contact-Input-Name" type="text" placeholder="example@gmail.com" />
                                        </div>
                                    </div>

                                    <div class="Col-2">
                                        <div class="address-frame-subject" id="contact-subject">
                                            <input type="text" placeholder="Subject:" />
                                        </div>
                                    </div>

                                    <div class="Col-2">
                                        <div class="address-frame-textarea" id="contact-textarea">
                                            <input type="text" placeholder="Your Text here:" />
                                        </div>
                                    </div>

                                </div>

                                <div class="Send-Email">
                                    <button class="Send-Email-Btn" type="submit">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>