<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

</head>
<body>

    <main role="main" style="text-align: center; transform: translateX(10%);">
        <section class="About-Main">
            <div class="Main-Area">
                <div class="container">
                    <div class="Row">
                        <div class="Row-Pic">
                            <img src="~/Shopping/assets/images/AboutUsLap.webp" />
                        </div>
                        <div class="Row-Info">
                            <div class="Info-Content">
                                <h3>Why Choose Us?</h3>
                                <p>
                                    At Bigon, we pride ourselves on delivering exceptional service and products that exceed our customers' expectations. Here's why you should choose us: <br />

                                    Quality Assurance: We are committed to providing high-quality products and services. From the materials we use to the craftsmanship of our work, we ensure excellence in every aspect. <br />

                                    Customer Satisfaction: Your satisfaction is our top priority. We listen to your needs and concerns, working closely with you to deliver solutions that meet and exceed your expectations. <br />

                                    Expertise and Experience: With years of experience in the industry, our team brings expertise and knowledge to every project. Whether it's designing a website, crafting a marketing strategy, or developing a product, we have the skills to deliver results.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="About-Bottom">
            <div class="Bottom-Area">
                <div class="container">
                    <div class="Row">
                        <div class="Our-Skills">
                            <div class="ht-single-about">
                                <h3>Our Skills</h3>
                                <div class="Skill-Bar">

                                    <!-- 1 -->
                                    <div class="Skill-Bar-Item">
                                        <span>Web Design</span>
                                        <div class="Progress">
                                            <div class="Progress-Bar">
                                                <span class="Text-Top">67%</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 2 -->
                                    <div class="Skill-Bar-Item">
                                        <span>PHP & JAVASCRIPT</span>
                                        <div class="Progress">
                                            <div style="width: 55%;" class="Progress-Bar">
                                                <span class="Text-Top">55%</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 3 -->
                                    <div class="Skill-Bar-Item">
                                        <span>HTML & CSS</span>
                                        <div class="Progress">
                                            <div style="width: 88%;" class="Progress-Bar">
                                                <span class="Text-Top">88%</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 4 -->
                                    <div class="Skill-Bar-Item">
                                        <span>WordPress</span>
                                        <div class="Progress">
                                            <div style="width: 50%;" class="Progress-Bar">
                                                <span class="Text-Top">?%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Our-Experiences">
                            <div class="ht-single-about">
                                <h3>Our Experiences</h3>
                                <h5>FUSCE FRINGILLA PORTTITOR IACULI SED QUAM LIBERO, ADIPISCING SED ERAT ID</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at sodales sit amet,</p>
                            </div>
                        </div>
                        <div class="Our-Works">
                            <div class="ht-single-about">
                                <h3>Our Works</h3>
                                <div class="ht-about-work">
                                    <span>1</span>
                                    <div class="ht-work-text">
                                        <h5>
                                            <a>LOREM IPSUM DOLOR SIT AMET</a>
                                        </h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                                    </div>
                                </div>

                                <div class="ht-about-work">
                                    <span>2</span>
                                    <div class="ht-work-text">
                                        <h5>
                                            <a>LOREM IPSUM DOLOR SIT AMET</a>
                                        </h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                                    </div>
                                </div>

                                <div class="ht-about-work">
                                    <span>3</span>
                                    <div class="ht-work-text">
                                        <h5>
                                            <a>LOREM IPSUM DOLOR SIT AMET</a>
                                        </h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>