<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../../sass/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script defer src="./index.js"></script>
    <script defer src="../../common/functions/navigation.js"></script>
</head>
<body>
  <nav class="Navigation">
    <div class="container">
      <div class="SupportAndSettings">
        <span id="Support">
            <p>
              <img src="../../assets/icons/SupportIcone.svg" style="width: 10px;"/>
              Support: 123 456 789
            </p>
        </span>
        <div id="Settings" href="#" >
            <p>
              <img src="../../assets/icons/SettingsIcone.svg" style="width: 10px;"/>
              Settings
            </p>
            <div id="Settings-Bar">
              <div id="MyAccount-Bar">
                 <p>My Account</p>
              </div>
              <div id="MyWishlist-Bar">
               <p>My Wishlist</p>
              </div>
             <div id="SignIn-Bar">
               <p>Sign In</p>
            </div>
           </div>
        </div>
      </div>

      <div class="Page-LinksAndLogo">
        <img src="../../assets/icons/BigBasketLogo.svg" />

        <a class="Bars_Link">
          <img src="../../assets/icons/BarsIcon_Grey.svg" />
        </a>

        <div id="Links-Bar">

          <div id="Home-Bar" class="Link-Bar">
            <p>Home</p>
          </div>

          <div id="AboutUs-Bar" class="Link-Bar">
            <p>About Us</p>
          </div>

          <div id="ContactUs-Bar" class="Link-Bar">
            <p>Contact us</p>
          </div>

          <div id="Blog-Bar" class="Link-Bar">
              <p>Blog</p>
          </div>

          <div id="Shop-Bar" class="Link-Bar">
            <p>Shop</p>
          </div>

        </div>

        <div class="Page-Links">
          <a href="../../pages/Home/index.html">Home</a>
          <a href="../../pages/About/index.html">About Us</a>
          <a href="../../pages/Contact/index.html">Contact Us</a>
          <a href="../../pages/Blog/index.html">Blog</a>
          <a href="../../pages/Shop/index.html">Shop</a>
        </div>
        
      </div>
    </div>

    <div class="SearchAndBasket">
      <button class="AllCategories">
        <p>ALL CATEGORIES</p>
        <img src="../../assets/icons/BarsIcon.svg" />
      </button>

      <div class="Search">
        <input class="Search-Input" type="search"
        placeholder="Search Your Likings"
      />
      <button class="Submit-Search" >
        <img src="../../assets/icons/SearchIcon.svg" />
      </button>
      </div>

      <div id="LikeAndBasket">
        <a id="Liked">
          <img src="../../assets/icons/LoveIcon.svg" />
        </a>

        <a id="Basket">
          <img src="../../assets/icons/BasketIcon.svg" />
          <span id="ItemCount">
            <p>0</p>
          </span>
        </a>
      </div>

    </div>
  </div>

  </nav>

    <main role="main">
        <section class="About-Main">
            <div class="Main-Area">
                <div class="container">
                    <div class="Row">
                        <div class="Row-Pic">
                            <img src="../../assets/images/AboutUsLap.webp" />
                        </div>
                        <div class="Row-Info">
                            <div class="Info-Content">
                                <h3>Why Choose Us?</h3>
                                <p>
                                    At Bigon, we pride ourselves on delivering exceptional service and products that exceed our customers' expectations. Here's why you should choose us: <br/>
                                    
                                    Quality Assurance: We are committed to providing high-quality products and services. From the materials we use to the craftsmanship of our work, we ensure excellence in every aspect. <br/>
                                    
                                    Customer Satisfaction: Your satisfaction is our top priority. We listen to your needs and concerns, working closely with you to deliver solutions that meet and exceed your expectations. <br/>
                                    
                                    Expertise and Experience: With years of experience in the industry, our team brings expertise and knowledge to every project. Whether it's designing a website, crafting a marketing strategy, or developing a product, we have the skills to deliver results.</p>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </section>

        <section class="About-Bottom">
            <div class="Bottom-Area">
                <div class="container">
                    <div class="Row">
                        <div class="Our-Skills">
                            <div class="ht-single-about">
                                <h3>Our Skills</h3>
                                <div class="Skill-Bar">

                                    <!-- 1 -->
                                    <div class="Skill-Bar-Item">
                                        <span>Web Design</span>
                                        <div class="Progress">
                                            <div class="Progress-Bar">
                                                <span class="Text-Top">67%</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 2 -->
                                    <div class="Skill-Bar-Item">
                                        <span>PHP & JAVASCRIPT</span>
                                        <div class="Progress">
                                            <div style="width: 55%;" class="Progress-Bar">
                                                <span class="Text-Top">55%</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 3 -->
                                    <div class="Skill-Bar-Item">
                                        <span>HTML & CSS</span>
                                        <div class="Progress">
                                            <div style="width: 88%;" class="Progress-Bar">
                                                <span class="Text-Top">88%</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 4 -->
                                    <div class="Skill-Bar-Item">
                                        <span>WordPress</span>
                                        <div class="Progress">
                                            <div style="width: 50%;" class="Progress-Bar">
                                                <span class="Text-Top">?%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="Our-Experiences">
                          <div class="ht-single-about">
                            <h3>Our Experiences</h3>
                            <h5>FUSCE FRINGILLA PORTTITOR IACULI SED QUAM LIBERO, ADIPISCING SED ERAT ID</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at sodales sit amet,</p>
                          </div>
                        </div>
                        <div class="Our-Works">
                          <div class="ht-single-about">
                            <h3>Our Works</h3>
                            <div class="ht-about-work">
                              <span>1</span>
                              <div class="ht-work-text">
                                <h5>
                                  <a>LOREM IPSUM DOLOR SIT AMET</a>
                                </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                              </div>
                            </div>

                            <div class="ht-about-work">
                              <span>2</span>
                              <div class="ht-work-text">
                                <h5>
                                  <a>LOREM IPSUM DOLOR SIT AMET</a>
                                </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                              </div>
                            </div>
                                
                            <div class="ht-about-work">
                              <span>3</span>
                              <div class="ht-work-text">
                                <h5>
                                  <a>LOREM IPSUM DOLOR SIT AMET</a>
                                </h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="Footer">
        <div class="container">
          <div class="FooterRow">
            <div class="Footer-ContactUs">
              <h3>CONTACT US</h3>
              <div id="Contact-Content">
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                <div id="Payment-Methods">
                  <h4>Payment Methods:</h4>
                  <img src="../../assets/images/PaymentMethods.avif" />
                </div>
              </div>
            </div>
  
            <!-- Information -->
  
            <div class="Footer-Contents">
              <h3>INFORMATION</h3>
              <div id="Content-Links">
                <a>Site Map</a>
                <a>Specials</a>
                <a>Jobs</a>
                <a>Delivery Information</a>
                <a>Privacy Policy</a>
                <a>Order History</a>
              </div>
            </div>
  
            <!-- My Account -->
  
            <div class="Footer-Contents">
              <h3>MY ACCOUNT</h3>
              <div id="Content-Links">
                <a>My Account</a>
                <a>Checkout</a>
                <a>Login</a>
                <a>Order Status</a>
                <a>Site Map</a>
                <a>Address</a>
              </div>
            </div>
  
            <!-- Customer Service -->
  
            <div class="Footer-Contents">
              <h3>CUSTOMER SERVICE</h3>
              <div id="Content-Links">
                <a>My Account</a>
                <a>New</a>
                <a>GiftCards</a>
                <a>Return Policy</a>
                <a>Your Orders</a>
                <a>Subway</a>
              </div>
            </div>
  
            <!-- Let Us Help You -->
  
            <div class="Footer-Contents">
              <h3>LET US HELP YOU</h3>
              <div id="Content-Links">
                <a>Your Account</a>
                <a>Your Orders</a>
                <a>Shipping</a>
                <a>Amazon Prime</a>
                <a>Replacements</a>
                <a>Manage</a>
              </div>
            </div>
  
          </div>
        </div>

        <div class="container">
            <div class="Footer-Line">
            </div>
        </div>

        <div class="Footer-Bottom">
            <div class="container">
                <div class="Footer-Bottom-Row">
                    <div id="Footer-Copyright">
                        <p>Copyright © 2021 HasThemes | Built with BigOn by HasThemes | rebuild by CF-Mehemmed
                        </p>
                    </div>
                    <div id="Footer-SocialLinks">
                        <a href="#">
                            <img src="../../assets/icons/FacebookLogo.svg" />
                        </a>
                        <a href="#">
                            <img src="../../assets/icons/TwitterLogo.svg" />
                        </a>
                        <a href="#">
                            <img src="../../assets/icons/LinkedinLogo.svg" />
                        </a>
                        <a href="#">
                            <img src="../../assets/icons/InstagramLogo.svg" />
                        </a>
                        <a href="#">
                            <img src="../../assets/icons/Pinterestlogo.svg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>