* {
    box-sizing: border-box;
}

body {
    @include text-formatter(sans-serif, 14px, 400, 24px);
    color: #444;
}

.Row {
    display: flex;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
    gap: 30px;
}

.Col {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    list-style: none;
}


main {
    display: block;

    .Section-Availability {
        @include Item-Placer(flex, center, center);
        padding-top: 30px;
        padding-bottom: 0px;
        width: 1170px;
        margin: auto;

        .Main-Shop-Page {
            padding-top: 0px;
            padding-bottom: 50px;

            .container {
                width: 1170px;

                .Row {

                    .Col-Sidebar {
                        width: 25%;

                        #sidebar {
                            background: #fff;

                            .Filter-Form {
                                margin-bottom: 0;

                                .Widget-List {

                                    ul {

                                        li {
                                           display: flex;

                                            a {
                                                @include text-formatter(sans-serif, 15px, 500, 30px);
                                                display: inline-block;
                                                text-decoration: none;
                                                text-transform: none;
                                                background: transparent;
                                                color: #333;
                                                border: 1px dashed #ddd; //solid evezine dashed
                                                padding: 2px 10px 2px 10px; 
                                                border-radius: 30px;
                                                transition: all 0.3s ease-in-out;
                                                cursor: pointer;

                                                img {
                                                    will-change: transform;
                                                    margin-left: 10px;
                                                    width: 8px;
                                                    transition: all 0.5s ease-in-out;
                                                }

                                                &:hover {
                                                    color: var(--Main-Blue);
                                                }
                                            }
                                        }

                                        .Active {
                                            padding-bottom: 0;

                                            a {
                                                border: none;
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }

                                .Sidebar-Widget {
                                    border: 1px solid #ebebeb;
                                    border-radius: 3px;
                                    padding-bottom: 30px;
                                    margin-top: 30px;
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    margin-bottom: 40px;

                                    .Group-Title {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        cursor: pointer;
                                        padding: 20px 0;
                                        border-bottom: 1px solid #ebebeb;
                                        margin-bottom: 20px;

                                        h2 {
                                            @include text-formatter(sans-serif, 15px, 600, 120%);
                                            text-transform: uppercase;
                                            color: var(--Background-Dark);
                                        }

                                        img {
                                            width: 16px;
                                        }
                                    }

                                    .Widget-Collapse {
                                        display: block;
                                        overflow: hidden;
                                        will-change: height;
                                        transition: height 0.5s ease-in-out;

                                        .Filter-Value {
                                            display: flex;
                                            justify-content: space-between;
                                            margin-bottom: 15px;

                                            span {
                                                border: 1px dashed #ddd;
                                                padding: 2px 10px;
                                                border-radius: 30px;
                                                white-space: nowrap;
                                            }

                                            a {
                                                color: #333;
                                                text-decoration: underline;
                                                transition: all 0.3s ease-in-out;
                                                cursor: pointer;
                                            }
                                        }

                                        .Sidebar-List-Style {

                                            .Price-Filter {
                                                display: flex;
                                                justify-content: space-between;

                                                .Filter-Range-From {

                                                    label {
                                                        @include text-formatter(sans-serif, 15px, 500, 120%);
                                                        display: inline-block;
                                                        margin-bottom: 5px;
                                                    }

                                                    label[for] {
                                                        cursor: pointer;
                                                    }
                                                }

                                                .Filter-Range-To {
                                                    
                                                    label {
                                                        @include text-formatter(sans-serif, 15px, 500, 120%);
                                                        display: inline-block;
                                                        margin-bottom: 5px;
                                                        cursor: pointer;
                                                    }

                                                    label[for] {
                                                        cursor: pointer;
                                                    }
                                                }
                                            }
                                        }

                                        ul {

                                            li {
                                                display: block;
                                                font-size: 14px;
                                                font-weight: 400;
                                                line-height: 30px;
                                                margin: 0 0 8px;
                                                transition: all 0.3s ease-in-out;


                                                label {
                                                    @include text-formatter(sans-serif, 15px, 500, 120%);
                                                    cursor: pointer;
                                                    color: #444;
                                                    margin: 0;
                                                }

                                                
                                                :hover {
                                                    color: var(--Main-Blue);
                                                }

                                            }
                                        }
                                    }

                                    .Collapse-Animation {
                                        animation: WidgetCollapse 1s;
                                    }
                                }

                            }
                        }
                    }

                    .Col-Right {
                        width: 75%;

                        .Single-Banner {
                            position: relative;
                            overflow: hidden;
                            margin-bottom: 50px;

                            a {
                                text-decoration: none;
                                background: transparent;

                                img {
                                    width: 100%;
                                    transition: all .5s ease-in-out;

                                    &:hover {
                                        transform: scale(1.02);
                                    }
                                }
                            }
                        }

                        .Grid-List {
                            padding: 10px 30px;
                            border: 1px solid #ebebeb;
                            border-radius: 3px;
                            margin-bottom: 30px;
                            overflow: hidden;

                            .Grid-List-View {
                                margin-top: 9px;

                                .Tablist {
                                    padding-left: 0;
                                    margin-bottom: 0;

                                    ul {
                                        margin-left: -5px;

                                        li {
                                            display: inline-block;
                                            padding-right: 5px;
                                            padding-left: 5px;
                                        }
                                    }
                                }
                            }

                            .Main-Toolbar-Sorter {
                                float: right;

                                .Toolbar-Sorter {

                                    label {
                                        @include text-formatter(sans-serif, 14px, 600, 120%);
                                        display: inline-block;
                                        max-width: 100%;
                                        margin-right: 5px;
                                        text-transform: capitalize;
                                    }

                                    select {
                                        width: 158px;
                                        border: 1px solid #eceff8;
                                        padding: 0 10px;
                                        height: 35px;
                                        background: transparent;
                                        font-size: 14px;
                                        color: #626262;
                                        text-transform: none;
                                        cursor: pointer;
                                        border-radius: 3px;

                                        option {
                                            padding: 5px;
                                        }
                                    }
                                }                            
                            }

                        }

                        .Main-Categories {

                            .Tab-Content {
                                visibility: visible;
                                grid-template-columns: repeat(4, 1fr);
                                padding-bottom: 0;
                                border-right: none;
                                border-bottom: none;
                                border: 1px solid #ebebeb;
                                border-radius: 3px;
                                overflow: hidden;

                                .Single-Product {
                                    height: 364px;
                                    border-bottom: 1px solid #ebebeb;
                                    border-right: 1px solid #ebebeb;
                                    float: left;
                                    padding: 40px 10px;
                                    width: 25%;
                                    background: #fff;
                                    transition: all .5s ease-in-out;

                                    .Pro-Img {

                                        a {

                                            img {
                                                max-width: 100%;
                                            }
                                        }
                                    }

                                    .Pro-Content {
                                        transition: all .3s ease 0s;
                                        position: relative;
                                        z-index: 66;

                                        h4 {
                                            color: var(--Background);
                                            text-wrap: nowrap;
                                            @include text-formatter(sans-serif, 14px, 500, 120%)
                                        }
        
                                        #product_rating {
                                            display: flex;
                                        }
        
                                        p {
                                            display: flex;
                                            flex-direction: column;
                                            padding-top: 40px;
                                            gap: 5px;
                                            color: var(--Font-Color);
        
                                            #price {
                                                @include text-formatter(sans-serif, 21px, 700, 120%);
                                            }
        
                                            #prev_price {
                                                color: #a4a4a4;
                                                @include text-formatter(sans-serif, 14px, 400, 120%);
                                            }
                                        }

                                        #product-actions {
                                            display: flex;
                                            flex-wrap: nowrap;
                                            transition: 0.3s ease-in-out;
                                            position: absolute;
                                            width: 100%;
                                            z-index: 25;

                                            .Primary-Actions {
                                                @include Item-Placer(flex, center, center);
                                                bottom: 1px;
                                                z-index: 30;
                                                left: -5px;
                                                position: absolute;
                                            }

                                            .Appear {
                                                opacity: 1 !important;
                                                visibility: visible !important;
                                                transition: opacity 0.6s ease !important; /* Transition opacity over 0.3 seconds with ease timing function */
                                            }

                                            .Secondary-Actions {
                                                @include Item-Placer(flex, center, center);
                                                visibility: hidden;
                                                bottom: 1px;
                                                right: 0px;
                                                position: absolute;
                                                z-index: 30;
                                                gap: 7px;

                                                #add-to-wishlist {
                                                    @include Item-Placer(flex,center,center);
                                                    background-color: var(--Background-Dark);
                                                    height: 32px;
                                                    width: 30px;
                                                    border-radius: 5px;
                                                    will-change: color;
                                                    transition: opacity 0.3s ease;
                                                    opacity: 0;

                                                    &:hover {
                                                        background-color: var(--Main-Blue);
                                                    }

                                                    img {
                                                        width: 15px;
                                                    }
                                                }

                                                #quickview {
                                                    @include Item-Placer(flex,center,center);
                                                    background-color: var(--Background-Dark);
                                                    height: 32px;
                                                    width: 30px;
                                                    border-radius: 5px;
                                                    will-change: color;
                                                    transition: opacity 0.3s ease;
                                                    opacity: 0;

                                                    &:hover {
                                                        background-color: var(--Main-Blue);
                                                    }

                                                    img {
                                                        width: 15px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .Deactive-Tab {
                                display: none !important;
                                visibility: hidden !important;
                            }
                        }

                        .Change-Page {
                            padding: 10px 15px;
                            border: 1px solid #ebebeb;
                            border-radius: 3px;
                            margin-top: 30px;
                            overflow: hidden;

                            .Change-Item {

                                .Shop-Pagination {
                                    text-align: center !important;

                                    #pagination {
                                        display: inline-block;
                                        border-radius: 4px;
                                        text-align: center;

                                        #list-inline {
                                            display: flex;
                                            margin-left: -5px;

                                            .List-Prev {
                                                background: transparent;
                                                cursor: pointer;
                                                width: 25px;
                                                height: 25px;
                                                padding-left: 7px;
                                                padding-top: 3px;
                                                border-radius: 5px;
                                                transition: 0.3s;
                                                will-change: color;
                    
                                                img {
                                                    width: 9px !important;
                                                }
                                            }

                                            li {
                                                display: inline-block;
                                                padding-right: 5px;
                                                padding-left: 5px;
                                                list-style: none;
                                                color: var(--Background);
                                                cursor: pointer;
                                            }

                                            .List-Next {
                                                background: transparent;
                                                cursor: pointer;
                                                width: 25px;
                                                height: 25px;
                                                padding-left: 7px;
                                                padding-top: 3px;
                                                border-radius: 5px;
                                                transition: 0.3s;
                                                will-change: color;
                    
                                                img {
                                                    width: 9px;
                                                }
                                            }

                                            .Active-List {
                                                color: var(--Main-Blue);
                                            }

                                            .Disable-Ancle {
                                                visibility: hidden !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}