.About-Main {
    display: block;
    box-sizing: border-box;
    padding-top: 150px;
    padding-bottom: 0px;

    .Main-Area {
        padding-top: 0px;
        padding-bottom: 50px;

        .container {
            height: auto;

            .Row {
                @include Item-Placer(flex, center, center);
                gap: 10px;
                margin-right: -15px;
                margin-left: -15px;

                @include for-size(tablet) {
                    align-items: start;
                }
                
                .Row-Pic {
                    width: 58.3%; 

                    img {
                        width: 100%;
                    }
                }

                .Row-Info {
                    @include Item-Placer(flex, center, start);
                    flex-wrap: nowrap;
                    flex-direction: row;
                    width: 41.67%; 

                    .Info-Content {
                        margin-left: 30px;
                        margin-top: 40px;
                        position: relative;

                        h3 {
                            @include text-formatter(sans-serif, 22px, 500, 25px);
                            text-transform: uppercase;
                            position: absolute;
                            top: -70px;
                            color: var(--Background-Dark);

                            @include for-size(tablet) {
                                @include text-formatter(sans-serif, 20px, 500, 25px);
                            }

                            @include for-size(phone) {
                                @include text-formatter(sans-serif, 18px, 500, 25px);
                            }
                        }

                        p {
                            @include text-formatter(sans-serif, 14px, 400, 200%);
                            display: block;
                            color: #444444;
                            flex-wrap: wrap;

                            @include for-size(tablet) {
                                @include text-formatter(sans-serif, 13px, 400, 25px);
                            }

                            @include for-size(phone) {
                                @include text-formatter(sans-serif, 12px, 400, 25px);
                            }
                        }
                    }
                }
            }
        }
    }
}

.About-Bottom {
    display: block;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 0px;

    @include for-size(tablet) {
        padding-top: 0;
        padding-bottom: 100px;
        padding-left: 0px;
    }

    .Bottom-Area {
        padding-top: 0px;
        padding-bottom: 50px;
        
        .container {

            .Row {
                @include Item-Placer(flex, center, center);
                flex-direction: row;
                gap: 30px;
                margin-right: -15px;
                margin-left: -15px;

                @include for-size(tablet) {
                    display: grid;
                    grid-template-rows: auto auto auto; // Three rows
                }

                .Our-Skills {
                    width: 33.3%;
                    
                    @include for-size(tablet) {
                        width: 100%;
                    }

                    .ht-single-about {
                        h3 {
                            @include text-formatter(sans-serif, 22px, 500, 25px);
                            text-transform: uppercase;
                            color: var(--Background-Dark);
                            margin-bottom: 10px;
                        }

                        .Skill-Bar {
                            overflow: hidden;
                            padding-top: 20px;

                            .Skill-Bar-Item {
                                padding-bottom: 20px;
                                position: relative;

                                span {
                                    @include text-formatter(sans-serif, 12px, 600, 23px);
                                    color: #fff;
                                    margin-left: 50px;
                                    position: absolute;
                                    text-align: center;
                                    text-transform: uppercase;
                                    z-index: 2;
                                }

                                .Progress {
                                    height: 24px;
                                    background: #ebebeb none repeat scroll 0 0;
                                    border-radius: 30px;
                                    box-shadow: none;
                                    overflow: visible;
                                    
                                    .Progress-Bar {
                                        background: #8d98aa none repeat scroll 0 0;
                                        border-radius: 30px;
                                        box-shadow: none;
                                        position: relative;
                                        height: 24px;
                                        width: 67%;

                                        .Text-Top {
                                            @include text-formatter(sans-serif, 12px, 600, 42px);
                                            background: var(--Background-Dark) none repeat scroll 0 0;
                                            border-radius: 50%;
                                            height: 42px;
                                            width: 42px;
                                            left: -50px;
                                            top: -10px;
                                            position: absolute;
                                            text-transform: uppercase;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .Our-Experiences {
                    width: 33.3%;

                    @include for-size(tablet) {
                        width: 100%;
                    }

                    .ht-single-about {
                        h3 {
                            @include text-formatter(sans-serif, 22px, 500, 25px);
                            text-transform: uppercase;
                            color: var(--Background-Dark);
                            margin-bottom: 20px;
                        }

                        h5 {
                            @include text-formatter(sans-serif, 16px, 500, 20px);
                            color: #444;
                            text-transform: uppercase;
                            margin-bottom: 20px;
                        }

                        p {
                            @include text-formatter(sans-serif, 14px, 400, 200%);
                            display: block;
                            color: #444444;
                            flex-wrap: wrap;
                        }
                    }
                }

                .Our-Works {
                    width: 33.3%;

                    @include for-size(tablet) {
                        width: 100%;
                    }

                    .ht-single-about {
                        h3 {
                            @include text-formatter(sans-serif, 22px, 500, 25px);
                            text-transform: uppercase;
                            color: var(--Background-Dark);
                            margin-bottom: 10px;
                        }

                        .ht-about-work {
                            margin-bottom: 27px;
                            position: relative;

                            span {
                                @include text-formatter(sans-serif, 16px, 500, 120%);
                                display: block;
                                background: #ebebeb none repeat scroll 0 0;
                                width: 42px;
                                height: 42px;
                                border-radius: 50%;
                                color: #7d7d7d;
                                float: left;
                                line-height: 43px;
                                text-align: center;
                                transition: all .3s ease;
                            }

                            .ht-work-text {
                                overflow: hidden;
                                padding-left: 10px;

                                h5 {
                                    @include text-formatter(sans-serif, 14px, 600, 12px);
                                    margin-bottom: 5px;
                                    padding-top: 8px;

                                    a {
                                        color: #444;
                                        font-size: 13px;
                                    }
                                }

                                p {
                                    @include text-formatter(sans-serif, 14px, 500, 12px);
                                    color: #7d7d7d;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}